body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/img/wallpapersden.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none !important;
}
