.navbar{
  display: flex;
  align-items: center;
  justify-content:space-around;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(255, 255, 255);
  width: 97%;
  border-radius: 50px;
  margin: 20px;
  color: rgba(2, 2, 2, 0.87);
  font-weight: 700;
  font-size: 15px;
  font-size: 18px;
  z-index: 1;
}

.navbar p{
  color: rgba(2, 2, 2, 0.87);
}

.navbar p:hover{
  color: rgba(2, 2, 2, 0.263);
  cursor: pointer;
}
.namecontainer{
  display: grid;
  grid-template-columns: 600px 600px;
  width: 524px;
  height: 468px;
  margin-top: 160px;
  margin-left: 80px;
  margin-bottom: 90px;
  color: rgb(255, 255, 255);
}


.namecontainer img{
  border-radius: 20px;
  width: 500px;
  height: 400px;
  margin-left: 250px;
}
.name{
  color: rgb(255, 255, 255);
  font-style:normal;
  font-weight: 800;
  font-size: 80px;
  text-align: start;
  margin: 0px;
}

.full{
  color: rgb(255, 255, 255);
  font-style:normal;
  font-weight: 800;
  font-size: 50px;
  text-align: start;
  margin: 0px;
}

.logos{
  position: relative;
  top: 79px;
  left: 100px;
  width: 100px;
  height: 100px;
  color: white;
}

.loguitos{
  width: 50px;
  height: 50px;
  color: white;
}


.resume{
  font-size: 30px;
  text-decoration: none;
  color: rgb(253, 253, 253);
  border: white 3px solid;
  background-color: rgb(95, 0, 124);
  border-radius: 50px;
  padding: 20px;
  font-weight:bold;
  position: relative;
  top: 150px;
  left: -200px;
  margin: 30px;
}

.projectsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.containerCard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px;
  align-items: center;
  justify-content: center;
}

.card{
  background-color: rgba(0, 0, 0, 0.463);
  width: 300px;
  height: 500px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 1px;
  color: white;
  margin: 20px;
}

a{
  text-decoration: none;
}

.appimage{
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin: 5px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  background-color: rgba(0, 0, 0, 0.596);
  border: black solid 5px;
  color: rgb(255, 255, 255);
  margin: 130px;
  padding: 20px;
  border-radius: 15px;
  font-weight: 800;
  font-size: 19px;
}
.about img{
  width: 200px;
  height: 200px;
  border-radius: 15px;

}

.aboutIn{
  display: grid;
  grid-template-columns: 1fr  4fr;
}

@media(max-width: 480px) {

  .navbar{
    width: 90%;
  }
  .namecontainer{
    grid-template-columns: 80%;
  
  }

  .logos{
    display:none
  }
  .resume{
    display: none;
  }

  .namecontainer img{
    border-radius: 20px;
    width: 300px;
    height: 200px;
    margin-left: 0px;
    margin-top: 0px;
  margin-bottom: 0px;
  }

  .about {
    margin: 5px;
    padding: 20px;
    border-radius: 15px;
    font-weight: 800;
    font-size: 19px;
  }
  .aboutIn{
    grid-template-columns: auto;
  }
  
}